@import url(https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap);
/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  #more {display: none;}

  /* #bl-container{
    display:none;
    width: 80%;
    height: 10rem;
  } */
  body{
   
    overflow-x: hidden;
  }
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

  #navitem a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  #navitem a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  #navitem a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  #navitem a{
    color: black;
    position: relative;
    font-size: 1.5rem;
    gap: 50px;
  }
 .pt-1{
  font-size: 40px;
  font-weight: 500;
    font-family: 'Kaushan Script', handwriting;


 }
 @import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);
 #home{
    /* background-image: url(/images-videos/wallpaper.png);
    background-repeat: no-repeat;
   background-size: cover; */

 }
#section2-txt{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  
}
#comp{
  
  height: 3rem;
  background-color: orangered;
  color: whitesmoke;
  font-size: 1.5rem;

  
  
    font-family: 'Baskervville', serif;

}.down{
  margin-left: 25%
}
.ebook{
  margin-left: 15%;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
/*
Just a preloading animation, didn't saw many of them here on Codepen, so I said why not create one ?

Used jQuery's window.load() function, in this demo there is also setTimeot(), cause there is no content to load, so we are simulating it.
*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Josefin+Sans:300);

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ====  Preloader styles ==== */
#hola{
    width: 100vw;
    height: 100vh;
    background-color: #252328;
    position: fixed;
    z-index: 999;
}
#preloader {
	position:relative;
    width: 80px;
    height: 80px;
    top: 45%;
    margin: 0 auto;
}
#preloader span {
	position:absolute;
	border: 8px solid #ffe066;
	border-top: 8px solid transparent;
	border-radius:999px;
}

#preloader span:nth-child(1){
	width:80px;
	height:80px;
	animation: spin-1 2s infinite linear;
}
#preloader span:nth-child(2){
	top: 20px;
	left: 20px;
	width:40px;
	height:40px;
	animation: spin-2 1s infinite linear;
}
@keyframes spin-1 {
	0% {transform: rotate(360deg); opacity: 1;}
	50% {transform: rotate(180deg); opacity: 0.5;}
	100% {transform: rotate(0deg); opacity: 1;}
}
@keyframes spin-2 {
	0% {transform: rotate(0deg); opacity: 0.5;}
	50% {transform: rotate(180deg); opacity: 1;}
	100% {transform: rotate(360deg); opacity: 0.5;}
}

/* ====  Page layout ==== */
.page-wrap{
    overflow-x: hidden;
    height: 100vh;
}

.home{
  height: 100vh;
  position: relative;
  background-color: #F2F6F2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home:before{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  content: '';
  background-color: #F2F6F2;
}
.home:after{
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 10;
  top: 0;
  right: 0;
  content: '';
  background-color: #F2F6F2;
}
.animate-border{
  border: 40px solid #EDEBE6;
  transition: border .5s .2s ease;
}
.home.divide:before{
  transition: all .6s 1.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  width: 0;
}
.home.divide:after{
  transition: all .6s 1.2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  width: 0;
}
.text-wrap{
    width: 100%;
    max-width: 44rem;
    text-align: center;
}
h1{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Oswald';
    color: #5F5264;
    margin-bottom: 3rem;
}
p{
    font-size: 1rem;
    color: #b6ccb6;
    line-height: 1.4;
    font-family: 'Josefin Sans';
}

@media screen and (max-width:1024px){
  html{
    font-size: 92.5%;
  }
  body{
   
    overflow-x: hidden;
  }
}
@media screen and (max-width:640px){
  html{
    font-size: 86%;
  }
  p{
    font-size: 1.1rem;
  }
  body{
   
    overflow-x: hidden;
  }
  html{
    overflow-x: hidden;
  }
  
}
#overlayer {
  width:100%;
  height:100%;  
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index: 2;
  background:whitesmoke;
}
.preloader p{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -45px;
  width: 300px;
  height: 90px;
  
  text-align: center;
  color: #fff;
  font-size: 24px;
  z-index: 3;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index:3;
  border: 4px solid #Fff;
  top: -150%;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:link {
  color: inherit;
}

.post--card {
  max-width:765px;
  min-width:320px;
/*   margin: 15px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0 0 20px 2px #ddd;
  border-radius: 2px;
}

.post--card header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
.header {
  color: #424242;
  font-weight: 600;
  margin-left: 8px;
}
.post--date::before { 
  content:',';
  margin-right: 0.6em;
}
.post--date {
  font-weight: 400;
  color:#757575;
}
.post--card article {
  font-weight: 400;
  color: #616161;
  line-height: 1.5;
}

.post--card footer{
  margin: 1rem;
  margin-bottom: 0;
  color: #BDBDBD;
}
.post--card footer span { 
  position: relative;
}
.post--card footer span:last-of-type:before{
  content: '\2022';
  margin-right: 3px;
}
.post-reply {
  color: #2979FF;
  text-decoration: none;
}
.reply {
  margin-top: 1rem;
}
.reply input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.4);
/*   border-radius: 2rem; */
  color: #757575;
  outline: none;
}
.comment__area {
  margin: 1rem;
}
div[id^="post"] {
  max-height: 256px;
  overflow-y: scroll;
  border: 1px solid rgba(0,0,0,0.2);
}
[name='data-post']:last-of-type {  border-bottom:none; }
[name='data-post'] {
  padding: 0.256rem;
  color: #757575;
  list-style: decimal;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
}
[name='data-post']  small {
   color: #BDBDBD;
}
.hidden {
  display:none;
}
@media screen and (max-width: 420px) {
  .post--card header {
    flex-direction: column;
  }
  .header,
  .post--date::before {
    content:'';
    margin: 0;
  }
  body{
   
    overflow-x: hidden;
  }
  html{
    overflow-x: hidden;
  }
  
}

@import url(https://fonts.googleapis.com/css2?family=Baskervville&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

/* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

@media (min-width: 1024px) {
  .top-navbar {
    display: inline-flex !important;
  }
  html{
    overflow-x: hidden;
  }
  
}

@media screen and (max-width: 640px) {
div{
  margin-bottom: 20px;
  margin-top: 10px;
}
body{
 
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

}